p.ordinary {
    color: blue;
    font-size: 70%;
    font-family: Arial, Tahoma, "Lucida Sans Unicode";
}

li.proba {
    list-style-type: none;
}

li.proba:before {
    content: "§ ";
    position: relative;
    right: 17px;
}

.all {
    color: red;
    right: 20px;
    margin: 0px;
}

.forv8 {
    color: red;
}

.forv8else {
    color: red;
}


.third {
    color: red;
}


.it4 {
    color: red;
}
