#P1 {
    color: green;
    font-size: 100%;
    font-family: "Times New Roman", Georgia, "Palatino Linotype", inherit;
}

#P2 {
    color: goldenrod;
    font-size: 120%;
    font-family: "Сomic Sans MS", "Monotype Corsiva", Mistral, inherit;
}